{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

<div class="container">
  <h2 class="blue-text">Add New Product</h2>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <form action="{% url 'auctions:addListing' %}" class="login-form listing-form" method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-primary" type="submit">Add Product</button>
  </form>
</div>
{% endblock %}