<!-- auctions/user_history.html -->
{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h2 class="blue-text">User History</h2>

{% if history %}
<div>
    {% for item in history %}
    <div class="card">
        <img src="{{ item.listing_image_url }}" alt="Listing Image" class="card-img-top">
        <div class="card-body">
            <h3 class="card-title">{{ item.listing_name }}</h3>
            <p class="card-text">Category: {{ item.category }}</p>
            <p class="card-text">Price: ${{ item.price }}</p>
            <p class="card-text">Bid: ${{ item.bid }}</p>
            <p class="card-text">{{ item.timestamp }}</p>
            <a class="btn btn-outline-primary" href="{% url 'auctions:listing' listing_id=item.listing_id %}">View
                Product</a>
            <br>
            {% if list.listing.status == 'Closed' and list.listing.highest_bid %}
            <a href="{% url 'auctions:success' listing_id=item.listing_id %}" class="btn btn-outline-primary">View
                Winner</a>
            {% endif %}
            <br>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="no-listings-msg">No history available. You haven't placed bids on any listings.</p>
{% endif %}
{% endblock %}