{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="blue-text">User Watchlist</h2>

{% if listings %}
<div class="card-container">
  {% for item in listings %}
  <div class="card">
    <div class="card-header">
      {{ item.listing.name }}
    </div>
    <div class="card-body">
      <img class="card-img-top" alt="{{ item.listing.name }} - img" src="{{ item.listing.image.url }}" height="170" />
      {% if item.listing.bid %}
      <h5 class="list-cost text-danger">Bidding has started on this item</h5>
      <h5 class="list-cost">Current Highest Bid: <strong class="text-warning">${{ item.listing.bid.highest_bid
          }}</strong></h5>
      {% else %}
      <h5 class="list-cost text-success">No Bids Currently Placed</h5>
      <h5 class="list-cost">Bid Starts From: <strong>${{ item.listing.initial }}</strong></h5>
      {% endif %}
      <div class="links-box">
        <a class="btn btn-outline-primary" href="{% url 'auctions:listing' item.listing.id %}">View Listing</a>
        <a class="btn btn-outline-danger" href="{% url 'auctions:remove_from_watchlist' item.listing.id %}">
          Remove from WatchList
        </a>
      </div>
      <h6 class="text-muted right-align">Date added: {{ item.listing.created }}</h6>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No items in your watchlist.</p>
{% endif %}

{% endblock %}